.submit-button {
    width: 33.33%;
    border-radius: 3px;
    border: 1px solid #2699FB;
    /* padding: 7px 37px 9px 33px; */
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
   
}

.submit-button button {
    font-size: 10px;
    line-height: 14px;
    background: none;
    color: #2699FB;
}

