.card__default {
    height: 383px;
    background: #D5ECFF;
    border: 1px solid #2699FB;
    border-radius: 5px;
    position: relative;
}

.card__default .card__default-img svg {
    width: 220px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.card__default .card__default-content {
    position: absolute;
    bottom: 23px;
    padding: 0px 18px;
    line-height: 17px;
    font-size: 13px;
    color: #2699FB;
}

.card__default-logo-left svg {
    position: absolute;
    width: 32.58px;
    height: 32.58px;
    top: 20.3px;
    left: 18.4px !important;
}
.card__default-logo-right svg{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 12px;
    right: 12px !important;
}


@media only screen and (min-width: 321px) and (max-width: 375px) {

.card__default {
    
}

}