

.special {
    background-color: #D8EDFF;
    padding-top: 67px;
}

.special__title {
}

.special__slide {
margin-top: 90px;
}

.special__slide {
    padding-bottom: 100px;
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .special__slide {
        padding-bottom: 34.3px;
    }
    

}